<div id="source-url">
  <h3>GTFS Source URL</h3>

   <p><pre><%= @source_url %></pre></p>
</div>

<div id="active-schedule">
  <h3>Active Schedule</h3>

  <% if @active_schedule %>
    <p><pre><%= JSON.pretty_generate(@active_schedule.serializable_hash) %></pre></p>
  <% else %>
    <p>
      Oh, schedule not found. Please <a href="BTN-TODO">fetch the latest one</a> now.
    </p>
  <% end %>
</div>

<div id="notification-preferences">

  <h3>Notifications</h3>

  <p>
    GTFS Schedule Activations:
    <a href="BTN-TODO">SUBSCRIBE</a> | <a href="BTN-TODO">UNSUBSCRIBE</a>
  </p>

  <p>
    GTFS Schedule Activation Errors:
    <a href="BTN-TODO">SUBSCRIBE</a> | <a href="BTN-TODO">UNSUBSCRIBE</a>
  </p>

</div>
