<div id="active-schedule">

  <h3>Active Schedule</h3>

  <% if @active_schedule %>
    <p>The latest successfully-imported schedule is:</p>
    <p><pre><%= JSON.pretty_generate(@active_schedule.serializable_hash) %></pre></p>
  <% else %>
    <p>
      Oh, it seems this app hasn't yet imported a schedule.
      Please <a href="BTN-TODO">fetch the latest one</a> now.
    </p>
  <% end %>

</div>
