<hr>

<div id="source-url">
  <h3>GTFS Source URL</h3>

   <p><pre><%= @source_url %></pre></p>
</div>

<hr>

<div id="active-schedule">
  <h3>Active Schedule</h3>

  <% if @active_schedule %>
    <p><pre><%= JSON.pretty_generate(@active_schedule.serializable_hash) %></pre></p>
  <% else %>
    <p>
      Oh, schedule not found. Please <a href="BTN-TODO">fetch the latest one</a> now.
    </p>
  <% end %>
</div>

<hr>

<div id="notification-preferences">

  <h3>Notification Preferences</h3>

  <h4>GTFS Schedule Report (Daily)</h4>
  <ul>
    <li><a href="BTN-TODO">Subscribe</a></li>
    <li><a href="BTN-TODO">Unsubscribe</a></li>
  </ul>

</div>

<hr>
