
      <h1><%= @subject %></h1>

      <% if @source_url %>
      <div id="hosted-schedule">
        <p>Source URL:</p>
        <p><pre><%= @source_url %></pre></p>
      </div>
      <% end %>

      <% if @hosted_schedule %>
      <div id="hosted-schedule">
        <p>Hosted Schedule:</p>
        <p><pre><%= JSON.pretty_generate(@hosted_schedule) %></pre></p>
      </div>
      <% end %>

      <% if @errors %>
      <div id="errors">
        <p>Errors:</p>
        <ul>
        <% @errors.each do |err| %>
          <li><pre><%= JSON.pretty_generate(err) %></pre></li>
        <% end %>
        </ul>
      </div>
      <% end %>
